body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color);
    margin-top: 70px;
    height: calc(100% - 70px);
    font-family: 'Poppins', sans-serif;
    margin-left: 250px;
    transition: margin-left var(--nav-transition);
}

:root{
    --header-color : #f8f8f8cb;
    --body-color: #f4f4f5;
    --text-color:rgba(255, 255, 255, 0.849);
    --nav-transition:0.3s;
    --icon-color: rgb(85, 81, 81);
}

html{
    height: 100%;
}

.page-header{
    position: fixed;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    margin-left: 250px;
    display: flex;
    transition: margin-left var(--nav-transition);
    background-color: white;
    z-index: 50;

}

.page-header i{
    color: var(--icon-color);
    font-size: 20px;
    margin-top: 5px;
}


.menu-icon-div{
    width: 100px;
}

.menu-icon-div div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon-div div:hover{
    background-color: rgba(241, 238, 231, 0.199);
}


h1{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 8px;
    color: rgb(109, 105, 105);
}

#Side-Nav{
    width: 250px;
    background-color: #242b33;
    color: var(--text-color);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 150;
    transition: left 0.3s;
}

#Side-Nav button{
    background-color: white;
    display: none;
}

.side-nav-img-div{
    height: 100px;
}

.side-nav-img-div img{
    width: 40%;
}

#Nav-Close-btn{
    position: absolute;
    left: 210px;
    top: 20px;
    z-index: 150;
}


#Nav-Close-btn:hover{
    color: rgba(255, 255, 255, 0.767);
    cursor: pointer;
}

.back-drop{
    display: none;
    z-index: 100;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.37);
}

.Nav-Bar-List{
    height: 100%;
    margin-top: 20px;
    overflow-y: auto ;
}

.Nav-Bar-List h5{
    color: rgba(255, 255, 255, 0.596);
    font-size: 0.9rem;
    margin-left: 10px;
}

.List-Nav{
    list-style: none;
    margin-top: 20px;
}

.List-Nav i {
    font-size: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.List-Nav ul {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.658);
    height: 50px;
    cursor: pointer;
    margin-bottom: 0px;
}

.List-Nav ul:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.137);
}

main{
    height: 100%;
}

.Certificate-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.Certificate-Card{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 0.7fr;

}

.Certificate-Card-Child:first-child{
    display: grid;
    grid-template-columns: 1.2fr 2fr;
}

.Certificate-Card-Child{
    height: 100%;
}

.Certificate-Card-Child img{
    height: 200px;
}

.Note-field{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

h2{
    color: rgba(41, 40, 40, 0.616);
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: underline;
}

.Certificate-Card-Child p{
    color:rgba(46, 45, 45, 0.753);
    line-height: 30px;
}

a{
    color: white;
    text-decoration: none;
}

.Generate-div{
    height: 100%;
    padding-top: 20px;
}

#Genearte-Id{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.Generate-div .card-body h3{
    font-size: 0.9rem;
    color: rgba(61, 60, 60, 0.747);
}

#Loading-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

#Download-Btn{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.Buttton-group{
    height: 80%;
}

@media (max-width:1070px){
    body{
        margin-left: 0px;
    }

    .page-header{
        margin-left: 0px;
    }

    #Side-Nav{
        left:-250px;
    }

    .back-drop{
        display: none;
    }
}

@media (max-width:550px){
    h1{
        font-size: 1rem;
    }

    .menu-icon-div{
        width: 60px;
    }
}

@media (max-width:374px){
    h1{
        font-size: 0.9rem;
    }

    .menu-icon-div i{
        font-size: 16px;
    }
}

@media (max-width:830px) {
    .Certificate-Card{
        grid-template-columns: 1fr;
    }

    .Generate-div{
        margin-top: 30px;
    }
}

@media (max-width:640px){
    .Certificate-Card-Child:first-child{
        grid-template-columns: 1fr;
    }

    h2{
        text-align: center;
    }

    .Generate-div {
        margin-top: 0px;
    }
}

@media (max-width:355px) {
    .Certificate-Card-Child img{
        height: 150px;
    }
}