# Python Files
__pycache__/

#virtual Enviroment 
venv/


#Csv
random_data.csv
Students_info.csv
Students.csv
Scrap.csv

#pdf 

output.pdf
output_final.pdf

#python file
test.py
inst_Name.py

#Folders 
dump/

#Html
test.html

#css 
bold-icon.css
