# Python Files
__pycache__/

#virtual Enviroment 
venv/
.venv/


#Csv
random_data.csv
Students_info.csv
Students.csv
Scrap.csv
Book1hf.csv

#pdf 

output.pdf
output_final.pdf
Certificate_Input_1.pdf

#python file
test.py

#Folders 
dump/

#Html
test.html

#css 
bold-icon.css

#img
Dlithe logo.png
Dlithe_logo.png

# js

test.js
Certificate demo/