body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.Header-Section{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    background-color: whitesmoke;
    height: 80px;
}

.Main-Title-div img{
    width: 80px;

}

.Main-Title-div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

