<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename = 'css/Students_Login.css')}}>
    <title>Login Page | Dlithe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <main class="Main-Container">
        <form class="Login-Page-Form" id="Login-Page-Form" action="/student-login-data" method = "post">
            <header>
                <div>
                    <img src="{{url_for('static',filename = 'img/Dlithe_logo.png')}}">
                </div>
                <h1>Login</h1>
            </header>
            <div class="Login-From-DIvs">
                <input type="text" placeholder="Name or Email" class="Login-form-Input" id="Name-Input" name= "Name_Emai" required>
                <p  class="Error-Label">First Name or Email required</p>
            </div>
            <div class="Login-From-DIvs">
                <input type="password" placeholder="Password" class="Login-form-Input" id="Password-Input" name= "Password" required>
                <span class="material-symbols-outlined" id="Span-Eye">
                    visibility
                </span>
                <p class="Error-Label">Password required</p>
            </div>
            <div class="Login-From-DIvs" style="margin-top: 80px;">
                <Button id="Login-Button">Login</Button>
            </div>
        </form>
    </main>
    <script src={{url_for('static',filename = 'js/Students_Login.js')}}></script>
</body>
</html>