<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dlithe | students-Dashboard</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/Dlithe_logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href={{url_for('static',filename='css/students_imf_DashBoard.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/students_imf_DashBoard_Main.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header class="Header-Page" id="Header-Page">
        <div class="side-Nav-toggle-head" id="side-Nav-toggle-head">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="Header-Title">
            <h1>Dlithe - Be Agile Be in demand</h1>
        </div>
        <div class="Header-Profile-Div" onmouseover="Show_Profile_Div()">
            <div class="Header-Profile">
                <h6>T</h6>
            </div>
            <div class="Header-Profile-Student-Name">
                <h6>Test Test</h6>
            </div>
        </div>
    </header>
    <div class="Profile-Hover-Aside" id="Profile-Hover-Aside" onmouseleave="Hide_Hover_Div()">
        <div>
            <h5>Profile</h5>
        </div>
        <div>
            <span class="material-symbols-outlined">
                move_item
            </span>
            <h5>Log Out</h5>
        </div>
    </div>
    <section class="Side-Navigation" id="Side-Navigation">
        <div class="head-img-nav">
            <span class="material-symbols-outlined" id="Close-Nav-MObile">
                tab_move
            </span>
            <img src="{{url_for('static',filename='img/Dlithe_logo.png')}}" alt="Dlithe">
        </div>
        <div class="Nav-list-div">
            <li>
                <ul><span class="material-symbols-outlined">
                    home
                    </span>
                    Home
                </ul>
                <ul style="margin-top: 0px;" id="COurse-Side-Nav-DropDown">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                    Programs
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </ul>
            </li>
        </div>   
        <div class="Progrmes-side-nav-dropdown" id="Progrmes-side-nav-dropdown">
            <li>
                <ul>Internship</ul>
                <ul>Certification Programs</ul>
                <ul>Bootcamp</ul>
            </li>
        </div> 
    </section>
    <Main class="Main-Page" id="Main-Page">
        <div class="imformation-main-section">
            <div class="Main-Course-Details-Div">
                <div>
                    <h4>
                        Course
                    </h4>
                </div>
                <div class="Main-Icon-Course-Div">
                    <span class="material-symbols-outlined" style="color: rgb(27, 103, 126);">
                        precision_manufacturing
                    </span>
                </div>
                <div class="Main-Course-Text">
                    <h5>Machine Learning</h5>
                </div>
            </div>
            <div class="Main-Course-Details-Div">
                <div>
                    <h4>Mode</h4>
                </div>
                <div class="Main-Icon-Course-Div">
                    <span class="material-symbols-outlined" style="color: rgb(148, 106, 28);">
                        public
                    </span>
                </div>
                <div class="Main-Course-Text">
                    <h5>Online</h5>
                </div>
            </div>
            <div class="Main-Course-Details-Div">
                <div>
                    <h4>Payment Status</h4>
                </div>
                <div class="Main-Icon-Course-Div">
                    <span class="material-symbols-outlined" style="color:green;">
                        check_circle
                    </span>
                </div>
                <div class="Main-Course-Text">
                    <h5>Paid</h5>
                </div>
            </div>
        </div>
    </Main>
    <script>
        let Profile_Hover_Div = document.getElementById('Profile-Hover-Aside');

        function Show_Profile_Div(){
            Profile_Hover_Div.style.display = 'grid';
            Profile_Hover_Div.classList.add('visible')
        };

        function Hide_Hover_Div(){
            Profile_Hover_Div.style.display = 'none';
        }

    </script>
    <script src="{{url_for('static',filename='js/students_imf_DashBoard.js')}}"></script>
</body>
</html>