body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: rgba(114, 32, 207, 0.623);
    box-sizing: border-box;
}

.Main-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.Login-Page-Form{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
}

.Login-Page-Form h1{
    text-align: center;
    color: rgb(27, 64, 131);
    font-weight: bold;
    font-size: 2.5rem;
    
    margin-bottom: 60px;
}

.Login-Page-Form img {
    width: 100px;

}
.Login-Page-Form header div {
    display: flex;
    justify-content: center;

}

.Login-From-DIvs{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.Login-form-Input{
    width: 280px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    outline: 0;
    border: 1.5px solid rgb(80, 78, 78);
}

#Login-Button{
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(22, 34, 138);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.Login-Page-Form p {
    position: absolute;
    color: red;
    margin-top: 50px;
    font-size: 0.7rem;
    display: none;
}

#Login-Button:hover{
    background-color: blue;
    cursor: pointer;
}

#Login-Button:active{
    opacity: 0.5;
}

.Login-From-DIvs span {
    position: absolute;
    margin-left: 250px;
    margin-top: 10px;
}

.Login-From-DIvs span:hover{
    cursor: pointer;
}