body{
    font-family: 'Poppins', sans-serif;
    background-color:#1b203d ;
    margin: 0;
    margin-top: 70px;
    box-sizing: border-box;
}

.Head{

    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}

.right-nav-toggle-div span{
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.726);
    display: block;
    margin-top: 3px;
}

.right-nav-toggle-div{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    margin-left: 10px;
    padding-bottom: 3px;
}

.right-nav-toggle-div:hover{
    background-color: rgba(157, 157, 163, 0.082);
    cursor: pointer;
}

.right-nav-toggle-div:active{
    opacity: 0.3;
}

.Side-Bar{
    width: 200px;
    background-color: #2d3357;
    position: fixed;
    left: -300px;
    top: 0px;
    bottom: 0px;
    transition: .4s;

}

.nav-span{
    width: 20px;
    height:2px;
    background-color: rgb(231, 226, 226);
    display: block;
    margin: auto;
    margin-top: 0px;

}

.Side-Bar-Span{
    margin-top: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Side-Bar-Span:hover{
    background-color: rgba(78, 77, 138, 0.2);
    cursor: pointer;
}

.Nav-Drawer-list{
    margin-top: 40px;
    font-weight: bold;
    display: flex;
   
    width: 200px;
    height: 40px;
    align-items: center;
    color: white;
}

.Nav-Drawer-list:hover{
    cursor: pointer;
    background-color: rgb(109, 104, 104);
    border-left: 7px solid rgb(24, 24, 128);
    width: 193px;
    

}

.Nav-Drawer-list:active{
    opacity: 0.5;
}

.Nav-Drawer-list span {
    margin-right: 30px;
    margin-left: 20PX;
}

.Nav-Drawer-list a{
    color: white;
    text-decoration: none;
}

.sidebar-logo-container{
    position: absolute;
    top: 15px;
    left: 70px
}

.Img-logo img{
    width: 60px;
 
}

.Page-head-div{
    flex-grow: 1;
}

.Page-head-div h1 {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Righteous', cursive;
}

.Head-Logo-Container img{
    width: 70px;
    border-radius: 50px;
}

.Head-Logo-Container{
    margin-right: 20px;

}
